<div>
    <div class="container" ng-show="page_status == 'login'" ng-cloak="page_status">
        <br><br/><br><br/><br><br/><br><br/><br><br/>
        <div class="row">
            <div class="col-4">
                <br>
            </div>
            <div class="col-4">
                <center>

                    <img class="card-img-top" src="../images/facebook-login.png" alt="Card image cap" ng-click="FBlogin()">

                </center>
            </div>
            <div class="col-4">
                <br>
            </div>
        </div>
    </div>
</div>